.container {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 10% auto auto;
}

.back-to {
  font-size: 12px;
  font-weight: 700;
  color: rgb(131, 128, 128);
}

.back-to-button {
  border: none;
  color: rgb(131, 128, 128);
  background-color: rgb(251, 251, 251);
  cursor: pointer;
}

.edit {
  display: block;
  grid-column-start: 2;
  position: absolute;
  right: 0px;
}

.edit-button {
  background-color: rgb(245, 245, 245);
  border: none;
  text-align: center;
  display: block;
  color: rgb(131, 128, 128);
  border-radius: 20%;
  cursor: pointer;
  height: 25px;
}

.user-card {
  padding: 0 18px;
  margin-left: 10px;
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
}

.left-column {
  padding: 60px 18px;
  grid-column: 1/2;
  grid-column-start: 1;
  grid-row-start: 2;
}

.credit-card-img {
  margin-left: 10px;
  width: 100%;
}

.spent-progress-bars {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}

.right-column {
  grid-column: 3/12;
  grid-column-start: 4;
  grid-row-start: 2;
}

.card-item {
  background-color: rgb(255, 255, 255);
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(240, 240, 240);
  box-shadow: 2px 2px rgb(236, 236, 236);
}

.credit-info-card {
  grid-column: 3/12;
  grid-column-start: 4;
  grid-row-start: 2;
}

.expenses-card {
  grid-column: 3/12;
  grid-column-start: 4;
  grid-row-start: 3;
}

h4 {
  margin-left: 15px;
}

table {
  border-bottom: 2px solid rgb(240, 240, 240);
  border-top: 1px solid rgb(240, 240, 240);
  border-spacing: 10px;
  width: 100%;
}
th {
  text-align: left;
  font-size: 12px;
}

td {
  font-size: 12px;
  text-align: right;
  color: rgb(131, 128, 128);
}
