* {
  box-shadow: 0 0 0 2px #bedead inset;
}

.App {
  background-color: rgb(251, 251, 251);
}

.container {
  display: grid;
  grid-template-columns: repeate(5, 1fr);
}

.back-to {
  font-size: small;
  font-weight: 700;
}

.user-info {
  display: inline-block;
}

.edit {
  grid-column-start: 2;
  position: absolute;
  right: 0px;
}

.edit-button {
  background-color: rgb(245, 245, 245);
  border: none;
  text-align: center;
  display: inline-block;
  color: black;
  border-radius: 20%;
  cursor: pointer;
  height: 25px;
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
}

.left-column {
  grid-column: 1/2;
  grid-column-start: 1;
  grid-row-start: 2;
}

.right-column {
  grid-column: 2/5;
  grid-column-start: 2;
  grid-row-start: 2;
}

.card-month-limit {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(240, 240, 240);
  box-shadow: 2px 2px rgb(236, 236, 236);
}

.credit-card-img {
  margin-left: 10px;
  width: 100%;
}
